# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.InputSystem_V2.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Wonder Jams\InputSystem_V2\.idea\.idea.InputSystem_V2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
